<div class="container" >
      <div class="row intr">
        <div class="col-12 banner">
          <img src="../../assets/output-onlinepngtools.png" alt="">
        </div>
        <div class="col-4 blog">
          <span class="us">About Us</span><br>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interior design is the Art and Science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. We at Premier Laminates with an experience of over 20 years in this field, help our clients achieve that harmony between Aesthetics and Design. We maintain good stocks and varieties to ensure immediate delivery.We have a reasonable price and assure you to give good quality product as we believe that our customers are not mere customers but they are a part of our Premier Family.</p>
        </div>
      </div >

      <div class="row">
        <div class="col-12">
          <video style="width: 1300px;" src="../../assets/VID-20230609-WA0004.mp4" autoplay controls></video>
        </div>
      </div>
      
      <div class="row intr1">
        <div class="col-12 us1">
          <span>Our Pillars</span>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem; height: 40rem;">
            <div class="card-body">
              <img src="../../assets/pill.jpg" alt="Rounded Image" class="pics">
              <h5 class="card-title">Name</h5>
              <h6 class="card-subtitle mb-2 text-muted">Title</h6>
              <p class="card-text">intro</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;height: 40rem;">
            <div class="card-body">
              <img src="../../assets/pill.jpg" alt="Rounded Image" class="pics">
              <h5 class="card-title">Name</h5>
              <h6 class="card-subtitle mb-2 text-muted">Title</h6>
              <p class="card-text">intro</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;height: 40rem;">
            <div class="card-body">
              <img src="../../assets/pill.jpg" alt="Rounded Image" class="pics">
              <h5 class="card-title">Name</h5>
              <h6 class="card-subtitle mb-2 text-muted">Title</h6>
              <p class="card-text">intro</p>
            </div>
          </div>
        </div>
      </div>

        <div class="row pad intr2">
          <div class="col-12 us1">
            <span>Products</span>
          </div>
          <div class="col-3">
            <div class="card" style="height: 25rem;">
              <img src="../../assets/ply.jpg" class="brand">
              <h5>Ply Woods</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="height: 25rem;">
              <img src="../../assets/laminates.jpg" class="brand">
              <h5>Laminates</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="height: 25rem;">
              <img src="../../assets/pvc.jpg" class="brand">
              <h5>PVC Laminates</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="height: 25rem;">
              <img src="../../assets/desin.jpg" class="brand">
              <h5>Designer Laminates</h5>
            </div>
          </div>
        </div>  

      <div class="row pad" style="background-image: url(../../assets/laminates.jpg);">
        <div class="col-12 us1">
          <span>Our Brands</span>
        </div>
        <div class="col-2">
          <div class="card" style="height: 20rem;">
            <img src="../../assets/agni.jpg" class="brand">
          </div>
        </div>
        <div class="col-2">
          <div class="card" style="height: 20rem;">
            <img src="../../assets/premiercl.jpg" class="brand">
          </div>
        </div>
        <div class="col-2">
          <div class="card" style="height: 20rem;">
            <img src="../../assets/alstone.png" class="brand">
          </div>
        </div>
        <div class="col-2">
          <div class="card" style="height: 20rem;">
            <img src="../../assets/milo.jpg" class="brand">
          </div>
        </div>
        <div class="col-2">
          <div class="card" style="height: 20rem;">
            <img src="../../assets/micas.png" class="brand">
          </div>
        </div>
        <div class="col-2">
          <div class="card" style="height: 20rem;">
            <img src="../../assets/uro.png" class="brand">
          </div>
        </div>
      </div>

      <div class="row pad1" style="background-image: url(../../assets/back.avif);">
        <div class="col-4 blog">
          <span class="us">We Serve @</span><br>
            <ul>
              <li>chennai</li>
              <li>Bangalore</li>
            </ul>
        </div>

        <div class="col-2">
          <img  class="godown" src="../../assets/premier.jpg" alt="">
         </div>

         <div class="col-2">
          <img class="godown" src="../../assets/godown.PNG" alt="">
        </div>

        <div class="col-4 blog">
          <span class="us">Call Us @</span><br>
            <ul>
              <li>044 4217 6577</li>
              <li>080 2674 2704</li>
              <li>99520 53315</li>
            </ul>
        </div>
      </div >

      <div class="row pad">
        <footer>
          <p>&copy; SC Services and Consultancy 2023 Your Website. All rights reserved.</p>
        </footer>
      </div>

</div>